.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f8bbd0; /* Light pink background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register-header {
    margin-bottom: 20px;
    color: #333; /* Dark gray heading */
  }
  
  .register-form {
    width: 100%;
    max-width: 400px; /* Maximum width for the form */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-button {
    margin-top: 20px;
  }
  
  .custom-alert {
    margin-top: 20px;
    width: 100%;
  }
  